In [14]:
import pandas as pd
#import datetime

In [12]:
master = pd.read_csv('master output.csv', index_col=0)
payments = pd.read_csv('payment output.csv', index_col=0)
payments['DatePosted']= pd.to_datetime(payments['DatePosted'])
payments.sort_values(by=['accountid', 'customerid', 'DatePosted'])
#payments.dtypes

           customerid  Collected  IsNSF  IsPayment  MonthWorked DatePosted
accountid
120            100119    6650.00      0          1            2 2009-03-05
120            100119    6650.00      0          1            2 2009-03-25
120            100119   44700.00      0          1            6 2009-07-16
132            100131     202.83      0          1           13 2010-02-09
159            100158   75000.00      0          1            1 2009-02-10
...               ...        ...    ...        ...          ...        ...
1141460       1215420      66.79      0          1            3 2016-01-15
1141466       1215423    1818.06      0          1            2 2015-12-29
1141467       1215423      86.72      0          1            2 2015-12-29
1141470       1215426     201.98      0          1            2 2015-12-14
1141473       1215429    1079.19      0          1            2 2015-12-22

[386978 rows x 6 columns]