In [3]:
#this Jupyter notebook is intended to run locally (i.e. not in Azure)
#it prepares the raw csv files provided
#  master output (account and demographic information)
#  payment output (timeseries payment information for accounts)

#notebook creates wide, flat output file for training and validating ML model
#output will be all account and demographic info with 24 months of payment history (concatenated as columns)

#pandas is a python library
#  provides series class, 1D object, used here to work w dataframes
#  provides dataframe class, 2D object with spreadsheet like functionality
import pandas as pd

In [51]:
#open csv's as Pandas dataframes
#master will contain all account and demographic info
#payments will contain all payment history
master = pd.read_csv('master output.csv')
payments = pd.read_csv('payment output.csv')

#convert date columns to Pandas datetime datatypes (to assist with sorting)
master['dateplaced'] = pd.to_datetime(master['dateplaced'])
payments['DatePosted']= pd.to_datetime(payments['DatePosted'])

#sort both dataframes
master.sort_values(by=['customerid', 'accountid'])
payments.sort_values(by=['customerid', 'accountid', 'DatePosted'])

#DEBUG
#payments.dtypes
#master.dtypes
print('done')

done

In [52]:
master

,clientname,accountid,customerid,ssnlastfour,Address1,Address2,City,State,PostalCode,dateplaced,placedbalance,dollarscollected,placeddpd,hasbrokenpromise,hasconfirmed,haskeptptp,haspayments,hasplacementphone,haspossiblenumber,haspromever
0,Acadiana Radiology Group,81525,180523,6779.0,17430 PELICAN RD,NaN,Erath,LA,70533,2009-07-16,391.00,0.0,0,0,0,0,0,0,0,0
1,Acadiana Radiology Group,81526,180524,1783.0,1832 BUDS PRIVATE DR,NaN,Abbeville,LA,70510,2009-07-16,41.00,0.0,0,0,0,0,0,0,0,0
2,Acadiana Radiology Group,81527,180525,8348.0,220 LOVERS LN,NaN,Abbeville,LA,70510,2009-07-16,41.00,0.0,0,0,0,0,0,0,0,0
3,Acadiana Radiology Group,81528,180526,1054.0,305 W PUTNAM,NaN,ERATH,LA,70533,2009-07-16,364.00,0.0,0,0,0,0,0,0,0,0
4,Acadiana Radiology Group,81529,180527,4199.0,4020 PICKETT RD,NaN,Erath,LA,70533,2009-07-16,374.00,0.0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936809,Veterinary Emergency Center,153851,251954,NaN,341 B Harold St,NaN,Staten Island,NaN,10314,2009-10-20,122.50,0.0,0,0,1,0,0,1,1,0
936810,Veterinary Emergency Center,153852,251955,NaN,47 Simonson Place,NaN,Staten Island,NaN,10302,2009-10-20,185.50,0.0,0,0,0,0,0,1,0,0
936811,Veterinary Emergency Center,153853,251956,NaN,64 Oak Lane,NaN,Staten Island,NaN,10312,2009-10-20,1243.45,0.0,0,0,0,0,0,1,0,0
936812,Veterinary Imaging Centers LP,152855,251187,NaN,24 Parktown PL,NaN,Sicklerville,NJ,NaN,2009-09-29,2065.00,0.0,0,0,1,0,0,1,1,0
936813,Veterinary Specialties Hospital at the Lake,156668,254702,NaN,Box 408 110 Alexander St,NaN,Spencer,NC,28159,2009-12-28,1537.45,0.0,0,0,0,0,0,1,1,0

In [45]:
payments

,accountid,customerid,Collected,IsNSF,IsPayment,MonthWorked,DatePosted
0,120,100119,6650.00,0,1,2,2009-03-05
1,120,100119,6650.00,0,1,2,2009-03-25
2,120,100119,44700.00,0,1,6,2009-07-16
3,132,100131,202.83,0,1,13,2010-02-09
4,159,100158,75000.00,0,1,1,2009-02-10
...,...,...,...,...,...,...,...
386973,1141460,1215420,66.79,0,1,3,2016-01-15
386974,1141466,1215423,1818.06,0,1,2,2015-12-29
386975,1141467,1215423,86.72,0,1,2,2015-12-29
386976,1141470,1215426,201.98,0,1,2,2015-12-14
386977,1141473,1215429,1079.19,0,1,2,2015-12-22

In [49]:
#this code builds the output data (that will be fed to ML algorithm)

# create blank output dataframe
output = pd.DataFrame()

#iterate over all rows in 'master' dataframe
#each row is a Pandas series object
#each row will be one line from master, index is zero based row num
#row has columns reordered in alphabetical order, Captials first
for index, row in master.iterrows():
    
    account_id = row['accountid']
    customer_id = row['customerid']
    account_year = row['dateplaced'].year
    account_month  = row['dateplaced'].month
    
    for pay_index, pay_row in payments.iterrows():


        pay_account_id = pay_row['accountid']
        pay_customer_id = pay_row['customerid']
        pay_year = pay_row['DatePosted'].year   
        pay_month = pay_row['DatePosted'].month

        print (account_id, pay_account_id) 
        break

        

        #create blank payment history series
        for x in range(25):
            pay_hist = pay_hist.append(pd.Series({'Month'+str(x): 0}))
        


        #



    #create output row and add to output data frame
    #row.append adds columns to series object row
    #output.append adds row to dataframe object output
    #output = output.append(row.append(pay_hist), ignore_index=True)

    #DEBUG exit after 10 iterations
    if index > 10 : break


output

81525 120
81526 120
81527 120
81528 120
81529 120
81530 120
81531 120
81532 120
81533 120
81534 120
81535 120
81536 120

Empty DataFrame
Columns: []
Index: []

In [25]:
pay_hist = pd.Series()
for x in range(1,25):
    #tmp = 
    pay_hist = pay_hist.append(pd.Series({'Month'+str(x): 0}))

y = 12
pay_hist['Month' + str(y)] = 140
pay_hist

Month1       0
Month2       0
Month3       0
Month4       0
Month5       0
Month6       0
Month7       0
Month8       0
Month9       0
Month10      0
Month11      0
Month12    140
Month13      0
Month14      0
Month15      0
Month16      0
Month17      0
Month18      0
Month19      0
Month20      0
Month21      0
Month22      0
Month23      0
Month24      0
dtype: int64